<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title class="bold-text">{{ data.city }}</mat-card-title>
    <mat-card-subtitle>{{ data.temp }} °</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{weatherImageSrc()}}" alt="A descriptive image of the weather condition.">
  <mat-card-content>
    <mat-grid-list id="weatherList" cols="2" rowHeight="20px">
      <mat-grid-tile [colspan]="1" [rowspan]="1" class="red-text left-align bold-text">
        <mat-label>Max Temp.:</mat-label>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1" class="blue-text right-align bold-text">
        <mat-label>Min Temp.:</mat-label>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1" class="left-align bold-text">
        <mat-label>{{ data.maxTemp }} °</mat-label>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1" class="right-align bold-text">
        <mat-label>{{ data.minTemp }} °</mat-label>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>