<div class="content" role="main">
    <div [ngSwitch]="getReturnCode()">
        <p *ngSwitchCase="200" class="error"></p>
        <p *ngSwitchCase="404" class="error">City {{cityName}} was not found within the API's database.</p>
        <p *ngSwitchCase="401" class="error">The access to the API needs to be renewed.</p>
        <p *ngSwitchCase="-1" class="error">Unknown error occoured.</p>
      </div>
    <div>
        <mat-label class="spacer">Please enter a city:</mat-label>
        <mat-form-field class="spacer">
            <mat-label>City</mat-label>
            <input matInput [(ngModel)]="cityName">
        </mat-form-field>
        <button mat-raised-button color="primary" class="spacer" (click)="addCity()">Add City</button>
    </div>
    <app-weather-comp *ngFor="let city of cities" [data]="city"></app-weather-comp>
</div>