<!-- <div class="content" role="main">
    <div>
        <p class="error">{{msg}}</p>
    </div>
    <div>
        <mat-label class="spacer">Please enter a city:</mat-label>
        <mat-form-field class="spacer">
            <mat-label>City</mat-label>
            <input matInput [(ngModel)]="cityName">
        </mat-form-field>
        <button mat-raised-button color="primary" class="spacer" (click)="addCity()">Add City</button>
    </div>
    <app-weather-comp *ngFor="let city of cities" [data]="city"></app-weather-comp>
</div> -->

<mat-grid-list cols="4">
    <mat-grid-tile [colspan]="4">
        <div class="align">
            <p class="error">{{msg}}</p> <br>
            <mat-label class="spacer">Please enter a city:</mat-label>
            <mat-form-field class="spacer">
                <mat-label>City</mat-label>
                <input matInput [(ngModel)]="cityName">
            </mat-form-field>
            <button mat-raised-button color="primary" class="spacer" (click)="addCity()">Add City</button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let city of cities">
        <div class="align"> 
            <app-weather-comp [data]="city"></app-weather-comp>
        </div>
    </mat-grid-tile>
</mat-grid-list>